#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  height: 100%;
  width: 100%;
  border: solid grey 2px;
}

.postcode-form {
  max-width: 280px;
  margin: auto;
}

.area-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;  
}

.area-card {
  border-style:solid;
  margin: 10px;
}

.area-card:hover {
  transform: scale(1.1);
}